:host {
    user-select: none;
    overflow: hidden;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: opacity 300ms ease, transform 250ms cubic-bezier(0.04, 0.62, 0.58, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}