:host{
    position: relative;
    min-height: 300px;
}

.titleAndIconContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

h3{
    margin-top: 0px;
    margin-bottom: 25px;
    width: 82%;
}

svg{
    width: 18%;
    height: auto;
}

p{
    margin-bottom: 52px;
}

button{
    float: right;
    width: 50%;
    min-width: 50px;
}