:host{
    position: relative;
    min-height: 300px;
}

.titleAndIconContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

svg{
    height: 10vh;
    width: auto;
}

.textContainer{
    margin-top: 5px;
    max-height: 70vh;
    overflow: auto;
}

p{
    user-select: text;
}

h3{
    margin-top: 0px;
    margin-bottom: 25px;
    width: 82%;
}

button{
    width: 100%;
    margin-top: 5px;
}